{% extends 'base.html' %}
{% load static %}

{% block title %}
    主页
{% endblock title %}

{% block content %}
    {% include 'background-video.html' %}

    <div class="container-fluid">

        {% include 'search-box.html' %}
        <div class="row div-content" id="app">
            {% include 'policy-tablist.html' %}
            {% include 'sidebar.html' %}
        </div>
        {{ user_name|json_script:"user-name" }}
    </div>

{% endblock content %}

{% block js %}

    {#    tablist#}
    <script src="{% static 'vue.js' %}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                PolicyData: [],
                categoryList: [],
                category: '',
                city: '',
                unReadNum: 0,
           //     unReadPolicyArray: [],
             //   FocusPolicyData: [],
                FocusReadPolicyData:[],
                pageNum: 1,  // 共几页=所有数据/每页现实数量
                pageSize: 10, // 每页显示数量
                totalPage: [], // 所有分页的数据
                dataShow: [], // 当前显示的数据
                currentPage: 0 // 默认当前显示第一页
            },
            created() {
                //this.getInitPolicy()
                this.getInitPolicy()
                this.getUnreadNumOfmessage()

            },
            methods: {
                getUnreadNumOfmessage: function () {
                    axios.get("http://127.0.0.1:8000/api/get_Num_Of_Unupdate").then(function (response) {
                        //alert(response.data.numOfMessage)
                        vm.unReadNum = response.data.numOfMessage
                    }, function (err) {
                    })
                },
                getUnUpdatePolicy: function (event) {
                    axios.get("http://127.0.0.1:8000/api/getUnUpdateInfo").then(function (response) {
                        alert(response.data.status)
                        vm.dataShow = response.data.dataArray
                        console.log(vm.PolicyData)
                        $("#count").text(0)
                        //vm.unReadPolicyArray = response.data.dataArray
                        vm.FocusReadPolicyData = response.data.dataHaveRead
                        $("#hengxian").show()
                    }, function (err) {
                    })
                },
                getInitPolicy: function () {
                    {#alert("hello")#}
                    axios.get("http://127.0.0.1:8000/api/show_all_policy").then(function (response) {
                        vm.PolicyData = response.data.list;   /*这里不能使用this.policyData，因为对象已经发生改变*/
                        {#alert(this.PolicyData.length + 999)#}
                        {#alert(vm.PolicyData.length)#}
                        vm.pageNum = Math.ceil(vm.PolicyData.length / vm.pageSize) || 1;//计算有多少页数据，默认为1
                        {#alert(this.pageNum)#}
                        // 循环页面
                        for (let i = 0; i < vm.pageNum; i++) {
                            // 每一页都是一个数组 形如 [['第一页的数据'],['第二页的数据'],['第三页数据']]
                            vm.totalPage[i] = vm.PolicyData.slice(vm.pageSize * i, vm.pageSize * (i + 1))
                        }

                        // 获取到数据后默认显示第一页内容
                        vm.dataShow = vm.totalPage[vm.currentPage];
                    }, function (err) {
                    })
                },
                // 下一页
                nextPage() {
                    if (this.currentPage === this.pageNum - 1) return;
                    vm.dataShow = this.totalPage[++this.currentPage];
                },
                // 上一页
                prePage() {
                    if (this.currentPage === 0) return;
                    vm.dataShow = this.totalPage[--this.currentPage];
                },
                // 点击页码
                page(i) {
                    vm.currentPage = i
                    vm.dataShow = this.totalPage[i - 1];
                },

                getPolicy: function (event) {
                    $.ajax({
                        url: "http://127.0.0.1:8000/api/show_policy",
                        method: 'get',
                        data: {
                            'category': event.target.innerHTML
                        },
                        dataType: 'json',
                        success: function (res) {
                            if (res.msg == 'success') {
                                // $('.table_clear').empty()
                                vm.PolicyData = res.list
                                vm.pageNum = Math.ceil(vm.PolicyData.length / vm.pageSize) || 1;//计算有多少页数据，默认为1
                                {#alert(this.pageNum)#}
                                // 循环页面
                                for (let i = 0; i < vm.pageNum; i++) {
                                    // 每一页都是一个数组 形如 [['第一页的数据'],['第二页的数据'],['第三页数据']]
                                    vm.totalPage[i] = vm.PolicyData.slice(vm.pageSize * i, vm.pageSize * (i + 1))
                                }

                                // 获取到数据后默认显示第一页内容
                                vm.dataShow = vm.totalPage[vm.currentPage];
                            }

                        }

                    })
                },
                getAllPolicy: function (event) {
                    $.ajax({
                        url: "http://127.0.0.1:8000/api/show_all_policy",
                        method: 'get',
                        dataType: 'json',
                        success: function (res) {
                            if (res.msg == 'success') {
                                // $('.table_clear').empty()
                                vm.PolicyData = res.list
                                vm.pageNum = Math.ceil(vm.PolicyData.length / vm.pageSize) || 1;//计算有多少页数据，默认为1
                                {#alert(this.pageNum)#}
                                // 循环页面
                                for (let i = 0; i < vm.pageNum; i++) {
                                    // 每一页都是一个数组 形如 [['第一页的数据'],['第二页的数据'],['第三页数据']]
                                    vm.totalPage[i] = vm.PolicyData.slice(vm.pageSize * i, vm.pageSize * (i + 1))
                                }

                                // 获取到数据后默认显示第一页内容
                                vm.dataShow = vm.totalPage[vm.currentPage];
                            }
                        }

                    })
                },

            },
        })


    </script>

    {#    home#}
    <script type="text/javascript">
        const userName = JSON.parse(document.getElementById('user-name').textContent);
        var count = 0;
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + userName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            var count = $("#count").text();
            count = Number(count) + 1;
            $("#count").text(count);
            const data = JSON.parse(e.data)
            $('#bottom').before('<div class="accordion-item"> <h2 class="accordion-header" id="headingOne"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse'
                + count + '"aria-expanded="false" aria-controls="collapseOne">' +
                data.city + '</button> </h2> <a href="' + data.url + '" id="collapse' + count + '" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style=""> <div class="accordion-body">'
                + data.title +
                '</div> </a> </div>')
            count++;
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        $(document).ready(function () {

            if (userName != '') {
                $('#homeButton').addClass("active");
                $('#loginButton').removeClass("active");
                $('#registerButton').removeClass("active");

                $('#loginName').text(userName);
                $('#loginButton').hide();
                $('#registerButton').hide();
                $('#logoutButton').show();
            } else {
                $('#message-reminder').hide()
            }
        })

        $('#logoutButton').click(function () {
            $.ajax({
                url: 'http://127.0.0.1:8000/api/user_logout',
                method: 'get',
                success: function (res) {
                    if (res.msg == '0') {
                        alert(res.signal);
                        location.href = '/intersection/login';
                    } else {
                        alert(res.signal);
                    }
                }
            })
        })

    </script>


    {#    sidebar#}
    <script type="text/javascript">
        $(function () {
            $('.btn-city').click(function () {

                alert($(this).parent().prev().text())
                {#alert($(this).prev().text())#}
                var focusCityName = $(this).parent().prev().text()
                $.ajax({
                    url: 'http://127.0.0.1:8000/api/follow_city',
                    method: 'get',
                    data: {'city': focusCityName},
                    success: function (res) {
                        if (res.msg == '0') {
                            alert(res.signal)
                        } else if (res.msg == '1') {
                            document.getElementById('div-login-password').class = 'form-group has-danger';
                            document.getElementsByName('password').class = 'form-control is-invalid';
                            $('#signal').html(res.signal);
                        } else if (res.msg == '-1') {
                            document.getElementById('div-login-password').class = 'form-group has-danger';
                            document.getElementsByName('password').class = 'form-control is-invalid';
                            $('#signal').html(res.signal);
                        }
                    }
                })
            })
        })
        $(function () {
            $('.btn-category').click(function () {

                alert($(this).parent().prev().text())
                {#alert($(this).prev().text())#}
                var focusCityName = $(this).parent().prev().text()
                $.ajax({
                    url: 'http://127.0.0.1:8000/api/follow_category',
                    method: 'get',
                    data: {'category': focusCityName},
                    success: function (res) {
                        if (res.msg == '0') {
                            alert(res.signal)
                        } else if (res.msg == '1') {
                            document.getElementById('div-login-password').class = 'form-group has-danger';
                            document.getElementsByName('password').class = 'form-control is-invalid';
                            $('#signal').html(res.signal);
                        } else if (res.msg == '-1') {
                            document.getElementById('div-login-password').class = 'form-group has-danger';
                            document.getElementsByName('password').class = 'form-control is-invalid';
                            $('#signal').html(res.signal);
                        }
                    }
                })
            })
        })

    </script>
{% endblock %}