<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
	<div class="container-fluid">
		<img src="/media/navbar6.ico" style="height:60px">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
		        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'templatesTest:home' %}">主 页
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'templatesTest:login' %}">登 陆</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'templatesTest:register' %}">注 册</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">登 出</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-md-auto">
				<li class="nav-item">
					<a target="_blank" rel="noopener" class="nav-link" href="{% url 'templatesTest:user_data_info' %}">Username</a>
				</li>
				<li class="nav-item">
					<a target="_blank" rel="noopener" class="nav-link" href="#">
						<i class="bi bi-github"></i> GitHub</a>
				</li>
			</ul>
		</div>
	</div>
</nav>