{% load static %}
{#{% block content %}#}
<div class="col-8">
    <ul id="search-box" class="navbar-nav ms-md-auto">
        <div style="margin-right: 20px;display: flex">
                <span>
                    <input class="form-control me-sm-2 input-search" type="search" placeholder="请输入城市名..." id="cityInput"
                       style="width:320px">
                </span>
                <span>
                    <button class="btn btn-outline-primary" style="width:80px;" @click="getCityPolicy($event)">检索</button>
                </span>

        </div>
    </ul>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" id="kejigongxin" href="#content-kejigongxin"
               aria-selected="true" role="tab"
               tabindex="0" @click="getAllPolicy($event)">全部</a>
        </li>
        {% for category in category_list %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" id="kejigongxin" href="#content-kejigongxin"
                   aria-selected="true" role="tab"
                   tabindex="0" @click="getPolicy($event)">{{ category }}</a>
            </li>
        {% endfor %}
    </ul>

    <div id="TabContent" class="tab-content div-background">
        <div class="tab-pane fade active show div-tab-content" id="content-kejigongxin" role="tabpanel">
            <table class="table table-hover" id="table-kejigongxin" data-pagination="true"
                   data-side-pagination="client">
                <tbody>
                <tr class="table-hover" v-for="item,index in dataShow" v-bind:key="item.id">
                    {% verbatim %}
                    <th scope="row" class="th-policy"><a :href="'/api/policy?pk=' + item.id"
                                                         style="color:white; text-decoration:none;">{{ item.title }}</a>
                    </th>
                    <td class="td-policy">{{ item.city }}</td>
                    <td class="td-policy">{{ item.category }}</td>
                    <td class="td-policy">{{ item.create_time }}
                    <td>
                        {% endverbatim %}
                </tr>


{#                <div style="border:1px solid #CCC;display: none" id="hengxian">以上是最新的政策</div>#}
                <tr id="divided" class="table-hover " v-for="item,index in FocusReadPolicyData" v-bind:key="item.id">
                    {% verbatim %}
                    <th scope="row" class="th-policy"><a :href="'/api/policy?pk=' + item.id"
                                                         style="color:white;text-decoration:none">{{ item.title }}</a>
                    </th>
                    <td class="td-policy">{{ item.city }}</td>
                    <td class="td-policy">{{ item.category }}</td>

                    <td class="td-policy">{{ item.create_time }}
                    <td>
                        {% endverbatim %}
                </tr>
                </tbody>
            </table>

            <div class="div-pagination">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" @click="prePage">&laquo;</a>
                    </li>

                    <li class="page-item" v-for="i in 5">
                        <a class="page-link" href="#">
                            {% verbatim %}
                            <span @click="page(i)">{{ i }}</span>
                            {% endverbatim %}
                        </a>

                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" @click="nextPage">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
{#{% endblock %}#}
{#{% block js %}#}
{#<script src="{% static 'vue.js' %}"></script>#}
{#<script src="https://unpkg.com/axios/dist/axios.min.js"></script>#}
{#<script type="text/javascript">#}
{##}
{#	function load_policy(){#}
{#		alert(“请求数据中。。。”)#}
{#		$.ajax({#}
{#			url: 'http://127.0.0.1:8000/api/show_policy',#}
{#			method: 'get',#}
{#			data: 'category' : '科技工信',#}
{#			success: function(res){#}
{#				alert(res.msg)#}
{#				alert("接收到"+str(reg.listLength)+"条政策")#}
{##}
{#			},#}
{#		})#}
{##}
{#	}#}
{##}
{##}
{#</script>#}


{#<script>#}
{#var vm = new Vue({#}
{#    el:"#app",#}
{#    data:{#}
{#      PolicyData:[],#}
{#      categoryList:[],#}
{#      category:'',#}
{#      city:'',#}
{#      FocusPolicyData:[],#}
{#      unReadNum:0,#}
{#    },#}
{#    created(){#}
{#        //this.getInitPolicy()#}
{#        this.getInitPolicy()#}
{#        this.getUnreadNumOfmessage()#}
{#    },#}
{#    methods: {#}
{#        getInitPolicy:function(){#}
{#            alert("hello")#}
{#            axios.get("http://127.0.0.1:8000/api/show_policy").then(function (response){#}
{#                      vm.PolicyData=response.data.list;   /*这里不能使用this.policyData，因为对象已经发生改变*/#}
{#            },function (err){ })#}
{#        },#}
{#        getUnreadNumOfmessage:function (){#}
{#            axios.get("http://127.0.0.1:8000/api/get_Num_Of_Unupdate").then(function (response){#}
{#                      alert(response.data.numOfMessage)#}
{#                      vm.unReadNum = response.data.numOfMessage#}
{#            },function (err){})#}
{#        },#}
{#        getPolicy: function (event) {#}
{#            $.ajax({#}
{#                url: "http://127.0.0.1:8000/api/show_policy",#}
{#                method: 'get',#}
{#                data: {#}
{#                    'category': event.target.innerHTML#}
{#                },#}
{#                dataType: 'json',#}
{#                success: function (res) {#}
{#                    if (res.msg == 'success') {#}
{#                       // $('.table_clear').empty()#}
{#                        vm.PolicyData = res.list#}
{#                    }#}
{##}
{#                }#}
{##}
{#            })#}
{#        },#}
{#    },#}


{#</script>#}
{#{% endblock %}#}