{% load static %}
<div class="col-4" style="padding-left:5%">

    {#	<div id="message-reminder" class="div-sidebar">#}
    {#		<ul class="list-group ">#}
    {#            <a href="#" class="list-group-item list-group-item-action border-primary mb-3">关注更新#}
    {#                <span id="count" class="badge bg-primary rounded-pill" style="float:right">14</span>#}
    {#            </a>#}
    {#		</ul>#}
    {#	</div>#}
    <div id="message-reminder" class="div-sidebar">
        <ul class="list-group ">
            <a @click="getUnUpdatePolicy($event)" class="list-group-item list-group-item-action border-primary mb-3">关注更新
                <span id="count" class="badge bg-primary rounded-pill" style="float:right">
                  {% verbatim %}
                       {{ unReadNum }}
                   {% endverbatim %}
               </span>
            </a>
        </ul>
    </div>
    <div id="bottom"></div>
    <div class="accordion div-sidebar" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    推荐城市
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
					<span>
						<lable for="city0" class="form-check-label">安徽省</lable>
						<span style="float:right">
							<input class="btn btn-outline-primary btn-sm btn-city" type="button" id="city0"
                                   value="关注">
						</span>
					</span>
                    <hr/>
                    <span>
						<lable for="city1" class="form-check-label">芜湖市</lable>
						<span style="float:right">
							<input class="btn btn-outline-primary btn-sm btn-city" type="button" id="city1"
                                   value="关注">
						</span>
					</span>
                    <hr/>
                    <span>
						<lable for="city1" class="form-check-label">宣城市</lable>
						<span style="float:right">
							<input class="btn btn-outline-primary btn-sm btn-city" type="button" id="city1"
                                   value="关注">
						</span>
					</span>
                    <hr/>
                    <span>
						<lable for="city2" class="form-check-label">蚌埠市</lable>
						<span style="float:right">
							<input class="btn btn-outline-primary btn-sm btn-city" type="button" id="city2"
                                   value="关注">
						</span>
					</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                    推荐类别
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for item in category_list %}
                        <span>
						<lable for="category0" class="form-check-label">{{ item }}</lable>
						<span style="float:right">
							<input class="btn btn-outline-primary btn-sm btn-category" type="button" id="category0"
                                   value="关注">
						</span>
					</span>
                        <hr/>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

